# Python
__pycache__/
*.pyc
venv/
.venv/
.env
.env.local
.env.development
.env.production

# Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Archivos temporales y empaquetados
*.zip

# Sistema
.DS_Store
Thumbs.db
